*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background: #02021a;
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent color */
    backdrop-filter: blur(30px);                  /* Blurs the content behind */
    -webkit-backdrop-filter: blur(10px);
    min-height: 80px;
    padding: 0 27px;
    font-family: "poppins";
    /* box-shadow: 0px 0px 2px #adacac; */
    position: fixed;
    width: 100%;
}
.logo-name {
    color: #ffb01e;
    font-size: clamp(1.2rem, 3vw, 4rem);
    font-weight: bold;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
    /* transition: all 0.4s ease; */
}
.nav-links li {
    list-style: none;
    /* transition:  0.4s ease; */
}
.nav-links li a{
    color: #131313e8;
    font-weight: 600;
    text-decoration: none;
    /* transition: 0.4s ease; */
}
.nav-links li a:hover {
    /* text-decoration: underline; */
}
.menu {
    display: flex;
    gap: 35px;
}
.setting {
   min-height: 33px;
   border-radius: 7px;
   background: white;
   cursor: pointer;
   border: 1px solid #e0d5d5f6;
   display: flex;
   width: 3rem;
   align-items: center;
   justify-content: center;
}
 .hambuger {
   width: 50px;
   min-height: 33px;
   border-radius: 7px;
   background: white;
   display: none;
   flex-direction: column;
   gap: 3px;
   cursor: pointer;
   width: 3rem;
   align-items: center;
   justify-content: center;
   border: 1px solid #00000060;
} 
/* .hambuger:hover{
    transform: translateY(3px);
} */
.bar {
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background: #1b1b1b;
}

@media (max-width: 768px){
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        padding: 10px;
        /* box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.9); */
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent color */
        backdrop-filter: blur(30px);                  /* Blurs the content behind */
       -webkit-backdrop-filter: blur(10px);
        z-index: 1000;
        width: 100%;
        left: 0;
        padding-bottom: 20px;
        /* transition: all 0.4s ease; */
    }
   .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: absolute;
        top: 80px;
        background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent color */
        backdrop-filter: blur(30px);                  /* Blurs the content behind */
       -webkit-backdrop-filter: blur(10px);
        z-index: 1000;
        width: 100%;
        left: 0;
        padding: 20px 0;
   }
    .nav-links li, .show li {
        background: #ffb01e1c;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        /* position: relative;
        z-index: 200; */
        height: 30px;
        border-radius: 15px;
        border: 1.5px solid #ffb01e;
    }
    .nav-links li a, .show li a {
        /* background: #ffb01e44; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        color: #131313e8;
        text-decoration: none;
    }
     .hambuger {
        display: flex;
     }
}
@media (max-width: 350px){
    .menu {
    display: flex;
    gap: 15px;
}
}
.hero {
    position: absolute;
    top: 50vh;
    z-index: 3000;
    /* z-index: -1; */
    font-family: "Montserrat Alternates";
    /* font-family: "Playwrite Deutschland Schulausgangschrift Guides"; */
    /* font-family: "Montserrat"; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    /* align-items: center;
    justify-content: center; */
    /* transform: translateX(11%); */
}
.hero h1 {
    font-size: clamp(0.9rem, 5vw, 7rem);
    /* background: #1b1b1b; */
}
.hero p {
    font-size: clamp(0.7rem, 2.5vw, 3rem);
}
.bar-style1 {
    background: #1b1b1b;
    transform: rotate(45deg);
    width: 25px;
    height: 4px;
    border-radius: 4px;
    position: relative;
    top: 7px;
}
.bar-style2{
     /* background: rgb(11, 184, 63); */
    transform: rotate(45deg);
    width: 25px;
    height: 4px;
    border-radius: 4px;
}
.bar-style3{
    background: #1b1b1b;
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
    /* right: 2px; */
    width: 25px;
    height: 4px;
    border-radius: 4px;
}
.all-in-one {
    max-width: 300px;
    margin-top: 20px;
}
.all-in-one-button {
    /* background: rgb(255, 176, 40);
    border: none;
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 50px;
    border-radius: 40px;
    color: white;
    cursor: pointer; */

  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(#ffb01ec4, #02021abb);
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.all-in-one-button:hover{
    background: linear-gradient(#ffb01e, #02021a);
   transform: translateY(-4px) scale(1.03);
   animation: moveGradient 1s linear infinite;
   box-shadow: 0 10px 25px #ffb01e70;
}
