*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    background: #02021a;
    width: 100%;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255); /* Semi-transparent color */
    /* backdrop-filter: blur(30px);                  /* Blurs the content behind */
    -webkit-backdrop-filter: blur(10px);
    min-height: 80px;
    padding: 0 27px;
    /* font-family: "poppins"; */
    font-family: "DM Sans";
    /* box-shadow: 0px 0px 2px #adacac; */
    position: fixed;
    width: 100%;
    z-index: 3000000;
}
.logo-name {
    color: #ffb01ecc;
    font-size: clamp(1.2rem, 3vw, 4rem);
    font-weight: bold;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a{
    color: #131313d0;
    font-weight: 600;
    text-decoration: none;
}
.nav-links li a:hover {
    /* text-decoration: underline; */
}
.menu {
    display: flex;
    gap: 35px;
}
.setting {
   min-height: 33px;
   border-radius: 7px;
   background: white;
   cursor: pointer;
   border: 1px solid #e0d5d5f6;
   display: flex;
   width: 3rem;
   align-items: center;
   justify-content: center;
}
 .hambuger {
   width: 50px;
   min-height: 33px;
   border-radius: 7px;
   background: white;
   display: none;
   flex-direction: column;
   gap: 3px;
   cursor: pointer;
   width: 3rem;
   align-items: center;
   justify-content: center;
   border: 1px solid #00000060;
} 

.bar {
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background: #1b1b1b;
}

@media (max-width: 768px){
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        padding: 10px;
        background: rgba(255, 255, 255); 
        
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        background: rgba(255, 255, 255, 0.9);              
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);  
        z-index: 1000;
        width: 100%;
        left: 0;
        padding-bottom: 20px;
    }
   .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: absolute;
        background: rgba(255, 255, 255, 0.3);   
       -webkit-backdrop-filter: blur(30px);
       backdrop-filter: blur(30px);  
        top: 80px;
        z-index: 1000;
        width: 100%;
        left: 0;
        padding: 20px 0;
   }
    .nav-links li, .show li {
        background: #ffb01e1c;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        /* position: relative;
        z-index: 200; */
        height: 30px;
        border-radius: 15px;
        border: 1.5px solid #ffb01e3b;
    }
    .nav-links li a, .show li a {
        /* background: #ffb01e44; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        color: #131313e8;
        text-decoration: none;
    }
     .hambuger {
        display: flex;
     }
}
@media (max-width: 400px){
    .menu {
    display: flex;
    gap: 15px;
}
}
.hero {
    font-family: "DM Sans";
    position: relative;
    top: 35vh;
    /* font-family: "Montserrat Alternates"; */
    /* font-family: "Poppins"; */
    /* font-family: "Playwrite Deutschland Schulausgangschrift Guides"; */
    /* font-family: "Montserrat"; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
.hero h1 {
    font-size: clamp(3rem, 5vw, 7rem);
    /* background: #1b1b1b; */
}
.hero p {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.bar-style1 {
    background: #1b1b1b;
    transform: rotate(45deg);
    width: 25px;
    height: 4px;
    border-radius: 4px;
    position: relative;
    top: 7px;
}
.bar-style2{
     /* background: rgb(11, 184, 63); */
    transform: rotate(45deg);
    width: 25px;
    height: 4px;
    border-radius: 4px;
}
.bar-style3{
    background: #1b1b1b;
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
    /* right: 2px; */
    width: 25px;
    height: 4px;
    border-radius: 4px;
}
.hero-buttons {
    width: 100%;
    text-align: center;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.all-in-one {
    max-width: 300px; 
    margin-top: 20px;
    text-align: center;
    margin: 25px auto;
}
.all-in-one-button {
  max-width: 300px;
  height: 50px;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background: linear-gradient(#ffb01ec4, #02021abb);
  width: 100%;
  color: white;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s ease;
  margin: 0 auto;
}
.all-in-one-button:hover{
   background: linear-gradient(#ffb01e, #02021a);
   transform: translateY(-4px) scale(1.03);
   animation: moveGradient 1s linear infinite;
   box-shadow: 0 10px 25px #ffb01e70;
}
.second-display {
    display: none;
}
@media(max-width: 768px){
    /* .hero {

    } */
    .all-in-one-button {
        padding: 14px 30px;
        border: none;
        border-radius: 30px;
        background: linear-gradient(#ffb01ec4, #02021abb);
        width: 100%;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: none;
        transition: transform 0.1s ease;
    }
    .all-in-one-button:hover {
        background: linear-gradient(#ffb01e, #02021a);
        transform: translateY(0px) scale(1.03);
        animation: moveGradient 1s linear infinite;
        box-shadow: 0 10px 25px #ffb01e70;
    }
    .second-display {
        border: none;
        border-radius: 30px;
        background: linear-gradient(#ffb01ec4, #02021abb);
        width: 100%;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.1s ease;
        max-width: 300px;
        margin: 0 auto;
        height: 50px;
    }
    .second-display:hover {
        background: linear-gradient(#ffb01e, #02021a);
        transform: translateY(0px) scale(1.03);
        box-shadow: 0 10px 25px #ffb01e70;
    }
}
.services-section {
    top: 80vh;
    position: relative;
    background: linear-gradient(
    290deg,  
    #ffb01e 0%,
    #02021a 25%, 
    #000000 60%,
    #000000 100%);
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    padding-bottom: 120px;
    /* font-family: "DM Sans"; */
}
.sercices-heading {
    font-size: clamp(2rem, 10vw, 4rem);
    margin-bottom: -30px;
    /* font-family: "Playwrite Deutschland Schulausgangschrift Guides"; */
       /* font-family: "Montserrat Alternates"; */
       font-family: "DM Sans";
}
.services-section h3 {
    /* font-size: 6rem;
    margin-bottom: -30px; */
}
.services-section .p {
    text-align: center; /* Yanawa rubutun da yake ciki tsakiya */
  max-width: 600px;  /* Yana kayyade faɗin rubutun domin yayi wrapping */
  margin: 30px auto;
  color: rgba(255, 255, 255, 0.705);
}
/* .main-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */
@media (max-width: 1440px){
   .main-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}
@media (max-width: 950px){
    .main-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}
@media(max-width: 600px){
    .main-services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}
.phone-accessories {
    background: linear-gradient(190deg, #ffb01e7e 0%, #02021a83 70%);
    max-width: 500px;
    display: flex;
    /* color: #d61414e7; */
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    cursor: pointer;
    transition: all 0.4s ease;
    backdrop-filter: blur(20px);
    opacity: 0.9;
}
.phone-accessories:hover {
    transform: scale(1.03);
    opacity: 1;
    box-shadow: 0 10px 30px #ffb01e7e;
}
.phone-accessories h3 {
    margin: 20px auto;
    /* margin-top: 20px; */
    text-align: center;
}
.phone-accessories p {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.service-tags {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5px;
    margin: 20px 0;
}
.service-tags span {
    background: #02021a3f;
    border: 2px solid rgba(182, 172, 172, 0.096);
    border-radius: 10px;
    padding: 5px;
    font-size: 0.7rem;
    font-weight: bold;
    /* width: 20%; */
    display: flex;
    margin: 0 10px;
}
.airtime-and-data-section {
    background: linear-gradient(260deg, #ffb01e7e 0%, #02021a83 70%);
    max-width: 500px;
    display: flex;
    cursor: pointer;
    color: #ffffff2a;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(20px);
    transition: all 0.4s ease;
    opacity: 0.9;
}
.airtime-and-data-section:hover {
      transform: scale(1.03);
      box-shadow: 0 10px 30px #ffb01e7e;
      opacity: 1;
}
.airtime-and-data-section h3 {
    margin: 20px auto;
    text-align: center;
}
.airtime-and-data-section p {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.movies-container {
    background: linear-gradient(90deg, #ffb01e7e 0%, #02021a83 70%);
    max-width: 500px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    /* color: #ffffff2a; */
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(20px);
    transition: all 0.4s ease;
    opacity: 0.9;
}
.movies-container:hover {
    opacity: 1;
    transform: scale(1.01);
    box-shadow: 0 10px 30px #ffb01e7e;
}
.movies-container h3 {
    margin: 20px auto;
    text-align: center;
}
.movies-container p {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.drinks {
    background: linear-gradient(135deg, #ffb01e7e 0%, #02021a83 70%);
    max-width: 500px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(20px);
    transition: all 0.4s ease;
    opacity: 0.9;
}
.drinks:hover {
    opacity: 1;
    transform: scale(1.01);
    box-shadow: 0 10px 30px #ffb01e7e;
    
}
.drinks h3 {
    margin: 20px auto;
    text-align: center;
}
.drinks p {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.why-choose-us-main {
    position: relative;
    top: 80vh;
    text-align: center;
    height: 400px;
  background: linear-gradient(
    200deg, 
    #000000 0%,
    #000000 60%, 
    #ffb01e7e  99%, 
    #02021a83 20%, 
    #ffb01e7e 45%, 
    #02021a83 100%
  );
  font-family: "DM Sans";
}